<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.21),rgba(0, 0, 0, 0.31)), url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : "bjkhxegcjtmc8jdwemmo" %>');">

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %> - <%= bookmark.comment %></li>
  <% end %>
</ul>
<%= link_to 'Add movie', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
